@import "compass/css3";

/*Layout*/

@font-face {
  font-family: 'League Gothic';
  src: url('fonts/league-gothic-ff/League_Gothic-webfont.eot') format('eot'),
       url('fonts/league-gothic-ff/League_Gothic-webfont.woff') format('woff'),
       url('fonts/league-gothic-ff/League_Gothic-webfont.ttf') format('truetype');
}

body * {
  box-sizing: border-box; /* all the percentage width and heights to respect padding */
}
body { margin: 0; font-family: Arial, Sans-serif; font-size: 14px; font-weight: normal; }

header {
  margin: 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #c6c6c6;
  text-align: center;
}

@mixin round($rad, $color) {
  border: 1px solid $color;
  -webkit-border-radius: $rad;
  -moz-border-radius:    $rad;
  border-radius:         $rad;
}

section {
  @include round(6px, #c9c9c9); /*border-radius(10px) <- from compass*/
  /*@include gradient(#f8f8f8, #e8e8e8);*/ 
  @include background-image(linear-gradient(top, #f8f8f8, #e8e8e8)); 
  width:   400px;
  margin:  50px auto;
  padding: 15px 12px 0 12px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.field {
  @include round(4px, #e0e0e0);
  background-color: #e6e6e6;
  padding: 5px;
  margin: 10px 0;
  position: relative;
}

.field input {
  @include round(4px, #c9c9c9);
  width: 100%;
  height: 30px;
  font-size: 1.3em;
  font-weight: bold;
  padding: 18px 15px;
}

.actions {
  padding: 15px 0;
}

.actions a {
  display: inline-block;
  margin-top: 15px;
}

.buttons {
  @include round(4px, #dddddd);
  background-color: #e6e6e6;
  @include single-box-shadow(#dddddd, 0, 0, 5px);

  width: 207px;
  float: right;
  padding: 7px 0;
}

button { cursor: pointer; }
button[type="submit"] {
  @include round(4px, #3f8098);
  @include background-image(linear-gradient(top, #59b3d5, #3e7e96)); 
/*  @include gradient(#59b3d5, #59b3d5);*/
  font-size: 1.3em;
  height: 38px;
  width: 110px;
  color: #fff;

  @include box-shadow(rgba(63, 128, 152, 0.6) 0 0 5px, rgba(254, 254, 254, 0.6) 0 1px 2px inset);
}

button[type="submit"]:hover, button[type="submit"]:focus {
  @include background-image(linear-gradient(top, #3e7e96, #59b3d5));
/*  @include gradient(#3e7e96, #59b3d5);*/
  color: #ccc;

  @include single-box-shadow(rgba(254,254,254,.6), 0, -1px, 2px, 0, inset);
}

button[type="reset"] {
  border: 0;
  background: none;
  width: 80px;
  height: 35px;
  font-size: 1.3em;
  color: #898989;
}

button[type="reset"]:hover, button[type="reset"]:focus {
  color: #696969;
}

fieldset a {
  font-size: .9em;
  color: #5cb9dc;
}

a:hover, a:focus {
  color: #408199;
}

/*Typography*/
h1, h2, h3, h4, h5, h6 { 
  font-family: "League Gothic", Arial, Sans-serif; 
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1 { 
  font-size: 3em; 
  color: #4eb2e0;
}
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1em; }
h6 { 
  font-size: 1em; 
  margin: 0;
  color:  #898989;
  font-weight: normal;
  font-family: Arial, Sans-serif;
}
button, input, select, textarea { font-family: sans-serif; color: #222; }

/*validations*/
.validation {
  @include background-image(linear-gradient(top, #b2d43a, #92ae31));

  margin:  -13px 0 0;
  padding: 0 20px 0 8px;
  height:  26px;

  position: absolute;
  top: 50%;
  left: 100%;

  color: #fff;
  font: bold 12px/26px Helvetica, Arial, Sans-Serif;
  white-space: nowrap;

  p {margin: 0; padding: 0};

  span {margin: 0; padding: 0;};
}
.validation:before {
  content: '';
  z-index: 1;

  width: 10px;
  height: 13px;

  position: absolute;
  top: 0px;
  left: -10px; 
  background: url('../images/bubble-g-l-s.png') no-repeat; 
}

.validation.error {
   border: 1px solid #7a0026;
   @include background-image(linear-gradient(top, #9e0039, #7a0026)); 
}

.validation.error:before{ background: url('../images/bubble-r-l-s.png') no-repeat; }


.loading {
  background: rgba(200,200,200,.8) url('../images/loading.gif') no-repeat 50% 50%;
  @include single-box-shadow(rgba(0,0,0, .1), 0, 0, 5px, 0, inset);
  position: absolute;
  display: block;
}